@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Code+Pro:wght@900&display=swap');

body{
    background-color: black;
}
body *{
    font-family:sans-serif;
    color: black;
    
}

/*Link*/
a{
    text-decoration: none;
    color: white;

}

a:hover{
    text-decoration: underline;
    animation-timing-function: ease-in-out;
}

#link-Perfil{
    float: right;
    background-color: transparent;
    margin-top: 5%;
    margin-right: 5%;
    border: none;
}


/*Header and Nav*/
h1{
    color: #32FC58;
    margin-left:5%;
    margin-top:2%;
    font-size: 60px;
    font-family: 'Source Code Pro', monospace;
}
nav li{
    display: inline-block;
    font-size: 25px;

}
nav ul{
    display: flex;
    justify-content: space-around;

}

/*Title*/
.title{
    margin-left: 100px;
    margin-top: 100px;
    padding: 0;
    width: 90%;
    border-bottom: 1px solid rgba(225,225,225,255) ;
}
h4{
    margin: 0;
}
/*Content wrapper*/

.content-wrapper{
    width: 90%;
    height: 50vh;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    
}

/*Container*/

.container{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(225,225,225,255);
    font-size: 25px;
}

.left-container div{
    position: relative;
    margin: 0 auto;
    transform: skew(10deg, 10deg);
    width: 30%;
    border-top: 3px solid #023436;
    border-right: 3px solid #023436;
    text-align: right;
    align-items: flex-end;
    display: flex;
    justify-content: right;
}

.right-container div{
    position: relative;
    margin: 0 auto;
    transform: skew(-10deg, -10deg);
    width: 30%;
    border-top: 3px solid #023436;
    border-left: 3px solid #023436;
}

p{
    margin: 0;
    width: fit-content;
    margin-top: 1px ;
}

.content{
    cursor: pointer;
}

.right-container div p{
    margin-left: 10px ;
}

.left-container div p{
    margin-right: 10px ;
}

.left-container .content:hover{
    box-shadow: -5px 5px 5px 0px #32FC58 inset;
}
.right-container .content:hover{
    box-shadow: 5px 5px 5px 0px #32FC58 inset;
}