/*HEADER*/
/*
#03B5AA
#023436
#FFFFFF
*/

/*Link*/
a{
    text-decoration: none;
    color: #023436;
}

.links :hover{
    color: #03B5AA;
}

#link-Perfil{
    float: right;
    background-color: transparent;
    margin-top: 5%;
    margin-right: 5%;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#link-Perfil :hover{
    color: #023436;
}

/*Dialog*/
dialog{
    float: left;
    margin-right: 44%;
    margin-left:11%;
    height: 40%;
    width: 30%;
    background-image: url("/keepfit/html/home/img/image\ \(2\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color:#023436;
    border-radius: 40px;
}

form{
    display: flex;
    flex-direction: column;
}
dialog p{
    font-size:15px;
    font-weight: bold;
    text-align: justify;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: white solid 2px;
    font-size: 15px;
    text-align: justify;
    color: #023436;
    font-weight: bold;
}

.button-dialog{
    font-size:20px;
    border-radius: 0;
    float: right;
}

/*Header and Nav*/
h1{
    margin-left:5%;
    margin-top:2%;
    font-size: 60px;
    color:#03B5AA;
}
nav li{
    display: inline-block;
    font-size: 25px;

}
nav ul{
    display: flex;
    justify-content: space-around;
}

/*Section*/

h3{
    font-family:'Montserrat', sans-serif;
}

.first{
    display: flex;
    flex-direction: row;
    margin-left:10%;
    margin-right: 10%;
    margin-top:5%;
}
#part1{
    background-color: #03B5AA;
    width: 30%;
    padding-bottom: 5%;
    font-family:'Montserrat', sans-serif;
}
#part1 p{
    margin-left: 10%;
}
.part1-content{
    padding-top: 10%;
    color: white;
}
#part2{
    
    background-color: #023436;
    width: 70%;
    font-family:'Montserrat', sans-serif;
}

table{

    display: flex;
    border-spacing: 30px;
    justify-content: space-between;
    font-family:'Montserrat', sans-serif;
    text-align: justify;
    color: white;
    margin-top:5%;
    margin-bottom: 5%;
    margin-left:14%;
    margin-right:4%;
    border: transparent;
}

td{
    padding:0 50px 0 100px;
}

.user{
    width: 60px;
    height: 60px;
    padding: 20px;
    margin-left:10%;
    margin-top:10%;
    border: solid 2px black;
    border-radius: 50%;
}

#center{
    margin-top:7%;
    margin-bottom:7%;
    margin-left:10%;
    margin-right: 10%;
    color: gray;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.second{
    margin-left:10%;
}

button{
    display: flex;
    border: none;
    background-color: #023436;
    border-radius: 30px;
    justify-content:space-between;
    color:white;
    margin-right: 30px;
    width: auto;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left:10px;
    padding-right: 10px;
}

/*Separador*/
#sep{
    font-size: 30px;
    text-align: center;
    margin-top:15px;
}

/*Titulo Botón*/
.title{

    font-size: 20px;
    padding-right:30px;
    padding-left: 12px;
    padding-top: 10px;
}

.title3{

    font-size: 20px;
    padding-right:30px;
    padding-left: 12px;
    padding-top: 10px;
}

/*Info Botón*/
.info{
    padding-left:30px;
    padding-bottom: 20px;
    font-size: 15px;
}

button:hover{
    background-color: #03B5AA;
}

/*Consejos*/
.third{
    margin-left:30px;
    width: 60%;
}

.tip{
    position: relative;
    margin-bottom: 5%;
    display: block;
    color: white;
    background-color: #03B5AA;
    font-size: 20px;
    font-weight: bold;
    font-family:'Montserrat', sans-serif;
    padding:5%;
    cursor: pointer;
    transition: 1s;
    border: none;
    margin-right: 20%;
    margin-left:5%;
    margin-top:10%;
}

/*FOOTER*/

footer{
    display:flex;
    background-color: #03B5AA;
    flex-direction: column;
    color: white;
    padding-top:10px;
    padding-bottom: 2%;
    font-family:'Montserrat', sans-serif;
    text-align: center;
}

#footer-logo{

    font-size: 80px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.links-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
}